.root,
.root[type='button'],
.root[type='submit'] {
  background: var(--color-deep-daishin-yellow);
  border-radius: 8px;
  border: 3px solid var(--color-black);
  color: var(--color-black);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-black);
  padding: 12px 16px;
}
