.root {
  background: var(--color-deep-daishin-yellow);
  border: 3px solid var(--color-black);
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: var(--font-weight-black);
  text-transform: uppercase;
}
