.root {
  color: var(--color-white);
  margin-bottom: 36px;

  h1 {
    font-size: var(--font-size-largest);
    font-weight: var(--font-weight-semibold);
    text-align: center;
  }

  p {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    line-height: 1.75;
    margin-bottom: 18px;
    text-align: center;
  }
}
