.root {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 32px;
}

.message {
  color: white;
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
}

.getReady {
  font-size: 50px;
  color: var(--color-white);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}