.root {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  display: flex;
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-regular);
  height: 40px;
  justify-content: center;
  position: relative;

  a {
    display: flex;
    gap: 4px;
  }
}
