.root {
  background: var(--color-pheromone-purple);
  border: 3px solid var(--color-black);
  border-radius: 8px;
  height: 42px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
  color: var(--color-white);
  font-size: var(--font-size-smallest);
  font-weight: var(--font-weight-semibold);
  padding: 0 12px 0 51px;
  position: relative;
  display: flex;
  align-items: center;
}

.avatar {
  border: 3px solid var(--color-black);
  border-radius: 8px;
  left: -3px;
  bottom: -3px;
  top: -3px;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
}

.reverse {
  padding: 0 51px 0 12px;

  .avatar {
    left: auto;
    right: -3px;
  }
}

.wins {
  color: var(--color-neutral-2);
}

.losses {
  color: var(--color-neutral-2);
}

.ties {
  color: var(--color-neutral-2);
}

.scorebox {
  margin: 0 12px;
  font-size: var(--font-size-largest);
  filter: drop-shadow(0 0 1.15rem var(--color-white));
}

.padbox {
  margin: 0 8px;
  height: 22px;
  border-left: 1px solid;
}

.stats {
  padding: 0 2px;
  opacity: 80%;
}
