// Variables.
:root {
  --font-size-huge: 26px;
  --font-size-largest: 24px;
  --font-size-larger: 22px;
  --font-size-large: 20px;
  --font-size-regular: 18px;
  --font-size-small: 16px;
  --font-size-smaller: 14px;
  --font-size-smallest: 12px;

  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  // Names from https://icolorpalette.com/
  --color-deep-daishin-yellow: #f2cc04;
  --color-purple-emperor: #6832bc;
  --color-candied-blueberry: #321766;
  --color-matt-purple: #9467de;
  --color-beer-garden: #4fa033;
  --color-green-flash: #75c857;
  --color-blueberry-glaze: #b960de;
  --color-pheromone-purple: #7c2aba;

  --color-white: #ffffff;
  --color-neutral-1: #f9f9f9;
  --color-neutral-2: #dfe5e9;
  --color-neutral-3: #788084;
  --color-neutral-4: #576065;
  --color-black: #000000;

  --z-index-modal: 10;
}

// Global styles, not scoped to any particular component.
body {
  background: url('/background.png');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
