// Variables.
:root {
  --font-size-huge: 26px;
  --font-size-largest: 24px;
  --font-size-larger: 22px;
  --font-size-large: 20px;
  --font-size-regular: 18px;
  --font-size-small: 16px;
  --font-size-smaller: 14px;
  --font-size-smallest: 12px;

  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --color-deep-daishin-yellow: #f2cc04;
  --color-purple-emperor: #6832bc;
  --color-candied-blueberry: #321766;
}

// Global styles, not scoped to any particular component.
body {
  background: url('/stonewall.png'),
    radial-gradient(
      77.22% 80.99% at 50% 49.93%,
      #673cd0 0%,
      #4e29a3 25%,
      #3c1c84 46%,
      #361778 58%,
      #230049 100%
    );
  background-size: cover;
  min-height: 100vh;
}
