.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
  position: relative;
}

.confetti {
  position: fixed;
  height: 100vh;
  width: 50vw;
  top: 0;
  z-index: var(--z-index-confetti);
}
